/* reset */
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */
header {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 100px;
  right: 100px;
  border-bottom: 1px solid white;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-group {
  display: flex;
}

.nav-group ul {
  display: flex;
  list-style: none;
}

.nav-group ul a {
  text-decoration: none;
  padding-right: 40px;
  color: #ffffff;
}

.nav-group .action {
  padding-right: 40px;
}

/* Hero */

.hero-content {
  z-index: 100;
  position: absolute;
  left: 100px;
  top: 30vh;
  color: #ffffff;
}

.hero-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.hero-slider {
  width: 100%;
  height: 100%;
}

.hero-slider-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: all 1s ease;
}

.hero-slider-item.active {
  opacity: 1;
}

.hero-slider-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* modal */

.modal {
  position: fixed;
  top: 100px;
  left: 100px;
  height: 50vh;
  width: 50vw;
  background: #fff;

  z-index: 1000;
  display: none;
}

.modal-visible .modal {
  display: block;
}

/* DASHBOARD */

.dashboard .container {
  display: flex;
  
}

.dashboard .container main {
  width: 60%;
  padding: 5%;
}

img {
  max-width: 200px;
}